* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #c1edcc;
  background-image: url('pic.jpg');
  background-size: cover;
  background-position: center;
  background-size: cover;
}

#game {
  align-items: center;
  justify-items: center;
  
}
.content {
  background-color: #ffd1c082;
  height: 70vh;
  width: 32vw;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 10px;
  margin-top: 32px;
  border-radius: 1rem;
  opacity: 1;
  
}

.box {
  height: 22vh;
  width: 10vw;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgb(194 240 216 / 33%);
  font-size: 9vmin;
  color: #f17061;
  
}

.reset {
  height: 6vh;
  width: 10vw;
  border-radius: 1rem;
  border: none;
  background-color: aqua;
  color: black;
  margin-top: 20px;
}

.hide {
  display: none;
}
